@page "/pages/form/{id:long?}"
@model WebApp.Pages.FormHandlerModel

<div class="m-2">
    <h5 class="bg-primary text-white text-center p-2">HTML Form</h5>
    @* <form action="/pages/form" method="post"> *@
    <form asp-page="FormHandler" method="post">
        <div class="form-group">
            <label>Name</label>
            @* <input class="form-control" name="Name" value="@Model.Product?.Name" /> *@
            <input class="form-control" asp-for="Product.Name" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>