<!DOCTYPE html>
<html lang ="en">
<head>
    <title>@ViewBag.Title - SimplaLayout</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="m-2">
        @RenderBody()
    </div>
</body>
</html>